*.go linguist-language=Go
packaging/deb/config linguist-language=Shell
packaging/deb/postinstall linguist-language=Shell
packaging/deb/postremove linguist-language=Shell
packaging/deb/preinstall linguist-language=Shell
packaging/deb/preremove linguist-language=Shell
docs/vendor/** linguist-vendored
